#node files
npm-debug.log
node_modules/

# test's output
allure-results/
coverage/
.nyc_output/
xunit.xml

# Mac files
.DS_Store

# Build artifacts
.dist/
src/**/*.d.ts
src/**/*.js
src/**/*.map
test/**/*.d.ts
test/**/*.js
test/**/*.map

# Dev files
temp/
tmp/
.env
*.local*
